/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color:#878183;
  color: white; 
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

h1{
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 15px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
    width:200px;
}
#button1:active, #button1.lit{
    background:green;
}

#button2 {
    background: lightblue;
    width:200px;
}
#button2:active, #button2.lit{
    background:blue;
}

#button3 {
    background: pink;
    width:200px;
}
#button3:active, #button3.lit{
    background:red;
}

#button4 {
    background: lightyellow;
    width:200px;
}
#button4:active, #button4.lit{
    background:yellow;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}